.headerBlack {
  color: #ffffff !important;
  a {
    color: #ffffff !important;
  }
  .indicator {
    background-color: #ffffff !important;
  }
}

.header {
  position: absolute;
  top: 0;
  color: black;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 35px;
  font-weight: 300;
  box-sizing: border-box;
  align-items: center;
  width: 100%;

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
      margin: 0px;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
      // font-size: 1.1rem;
      font-weight: 600;
    }

    .copyright {
      margin-bottom: -3px;
      font-size: 13px;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }

    .name {
      a {
        text-decoration: none;
        color: #000000;
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        margin-left: 5px;
        transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);

        .codeBy {
          padding-left: 0.2em;
        }

        .akash {
          padding-left: 0.3em;
        }
        .singh {
          position: absolute;
          left: 130px;
          padding-left: 0.3em;
          // border: 2px solid red;
        }
      }
    }

    &:hover {
      .copyright {
        transform: rotate(360deg);
      }
      .name {
        a {
          padding-left: 30px;

          .codeBy {
            transform: translateX(-160%);
          }
          .akash {
            transform: translateX(-98px);
          }

          .singh {
            transform: translateX(-80px);
          }
        }
      }
    }
  }

  .nav {
    display: flex;
    align-items: center;
    // border: 2px solid black;

    .el {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 1;
      padding: 15px;
      cursor: pointer;

      .menu {
        display: none;
      }

      &:hover {
        .indicator {
          transform: scale(1);
        }
      }
      .indicator {
        position: absolute;
        width: 6px;
        height: 6px;
        top: 45px;
        left: 48%;
        background-color: black;
        border-radius: 50%;
        transform: scale(0) translateX(-50%);
      }
      a {
        cursor: pointer;
        text-decoration: none;
        color: black;
        font-weight: 600;
      }
    }
  }
}

.headerButtonContainer {
  transform: scale(0);
  position: fixed;
  z-index: 5;
  right: 0;

  .button:has(.burgerActive) {
    background-color: #455ce9;
    border: none;
  }
  .button {
    border: 1px solid rgb(136, 136, 136);
    margin: 33px;
    margin-top: 28px;
    width: 73px;
    height: 73px;
    background-color: #141517;
    // background-color: #455ce9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    position: relative;

    .burger {
      width: 100%;
      &::after,
      &::before {
        content: "";
        display: block;
        width: 35%;
        background-color: white;
        height: 1px;
        margin: auto;
        position: relative;
        transition: all 0.3s;
        z-index: 2;
      }

      &::after {
        top: -5px;
      }

      &::before {
        top: 5px;
      }
    }

    .burgerActive {
      &::after {
        top: -1px;
        transform: rotate(45deg);
      }

      &::before {
        top: 0px;
        transform: rotate(-45deg);
      }
    }
  }
}

@media (min-width: 430px) and (max-width: 600px) {
  .headerButtonContainer {
    .button {
      width: 63px;
      height: 63px;
    }
  }
}

@media (min-width: 160px) and (max-width: 429px) {
  .headerButtonContainer {
    .button {
      width: 53px;
      height: 53px;
      margin-right: 26px !important;
    }
  }
  .header {
    padding: 35px 20px;

    .logo {
      p {
        font-size: 14px !important;
      }

      .copyright {
        transition: none;
        font-size: 10px !important;
      }
      .name {
        a {
          transition: none;
          margin-left: 3px;
        }
        .singh {
          display: none;
        }
      }

      &:hover {
        .name {
          .copyright {
            transform: none;
          }
          a {
            padding-left: 0px;

            .codeBy {
              transform: none;
            }
            .akash {
              transform: none;
            }

            .singh {
              transform: none;
            }
          }
        }
      }
    }
    .nav {
      .el {
        .menu {
          font-size: 14px;
        }
        .menuIndicator {
          position: absolute;
          width: 5px !important;
          height: 5px !important;
          top: 21px !important;
          left: 1px !important;
          background-color: black;
          border-radius: 50%;
        }
      }
    }
  }
}

@media (min-width: 150px) and (max-width: 600px) {
  .header {
    .logo {
      p {
        font-size: 1rem;
      }
    }
    .nav {
      .el {
        a {
          display: none;
        }
        .indicator {
          display: none;
        }
        .menu {
          display: block;
        }

        .menuIndicator {
          position: absolute;
          width: 6px;
          height: 6px;
          top: 23px;
          left: -1px;
          background-color: black;
          border-radius: 50%;
        }
      }
    }
  }

  .headerBlack {
    .menuIndicator {
      background-color: #ffffff !important;
    }
  }
}

@media (min-width: 200px) and (max-width: 319px) {
  .header {
    padding: 29px 10px;

    .logo {
      .copyright {
        font-size: 9px;
      }
    }

    .menu {
      // border: 2px solid blue;
      margin-left: -25px;
    }

    .nav {
      .el {
        .menuIndicator {
          position: absolute;
          width: 5px;
          height: 5px;
          top: 21px !important;
          left: -20px !important;
          // background-color: black;
          border-radius: 50%;
        }
      }
    }
  }
}
