.link {
  position: relative;
  // border: 2px solid blue;
  display: flex;
  align-items: center;

  .indicator {
    width: 10px;
    height: 10px;
    background-color: #c39a9a;
    border-radius: 50%;
    position: absolute;
    left: -40px;
  }
}

@media (max-width: 470px) {
  .link {
    .indicator {
      // background-color: red;
      position: absolute;
      left: 220px;
      // right: 40px;
    }
  }
}

@media (min-width: 200px) and (max-width: 299px) {
  .link {
    .indicator {
      // background-color: red;
      position: absolute;
      left: 180px;
      // right: 40px;
    }
  }
}
